<div class="box">
  <div class="row">
    <h2> <i class="fa fa-clipboard"> </i> Asociar Documentos a Trabajadores</h2>
    <div class="column col-sm-12" ng-if="cargado">
      
      <div class="col-sm-12" style="margin-bottom: 20px;">
        <a ng-click="gestionar()" ng-if="accesos.crear && accesos.abierto" href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-cog"></i> Gestionar Tipos de Documentos</a>
      </div>

      <div class="form-group" style="margin-top: 40px;" ng-class="{ 'hidden' : datos.length==0}">
        <label for="orden" class="control-label col-md-1">
          Ordenar:
        </label>
        <div class="col-md-3">
          <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
            <option value="rut">RUT</option>
            <option value="apellidos">Nombre</option>
            <option value="seccionOrden" ng-if="!empresa.centroCosto.isCentroCosto">Sección</option>
            <option value="centroCostoOrden" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</option>
            <option value="totalDocumentos">Documentos</option>
          </select>
        </div>
        <div class="col-md-1">
          <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
            <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
            <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i></a>
        </div>
        <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
        <div class="col-md-4">
          <input id="filtro" type="text"  class="form-control form-white form-white" ng-model="filtro">
        </div>
      </div>

      <div class="container text-center" ng-if="datos.length<=0" style="margin-top: 80px;" >
        <i>No se han ingresado trabajadores</i>
      </div>

      <div class="col-sm-12" style="margin-top: 80px;">
        <table class="table table-striped table-hover" ng-if="datos.length>0">
          <thead>
            <tr>    
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">RUT</th>
              <th class="col-sm-3">Nombre</th>
              <th class="col-sm-2" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</th>
              <th class="col-sm-2" ng-if="!empresa.centroCosto.isCentroCosto">Sección</th>
              <th class="col-sm-2">Documentos</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trabajador in datos | orderBy:orden : reverse | filter : filtro">
              <td>{{ $index + 1 }}</td>
              <td>{{ trabajador.rutFormato }}</td>
              <td>{{ trabajador.nombreCompleto }}</td>
              <td ng-if="empresa.centroCosto.isCentroCosto">{{ trabajador.centroCosto.nombre }}</td>
              <td ng-if="!empresa.centroCosto.isCentroCosto">{{ trabajador.seccion.nombre }}</td>
              <td>{{ trabajador.totalDocumentos }}</td>
              <td>
                <a href="" ng-click="asociar(trabajador)" ng-if="accesos.crear && accesos.abierto"><i class="fa fa-upload" uib-tooltip-html="toolTipAsociar(trabajador.nombreCompleto)"></i></a>
                <a href="" ng-click="documentos(trabajador)" ng-if="accesos.ver"><i class="fa fa-folder-open-o" uib-tooltip-html="toolTipCarpeta(trabajador.nombreCompleto)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>

    </div>
  </div>  
</div>