<div class="box">
  <div class="row">
    <h2> <i class="fa fa-medkit"> </i> Licencias Médicas</h2>
    
    <div class="col-sm-12" ng-if="cargado">

      <div class="col-sm-12">
        <a ng-click="open()" ng-if="accesos.crear" href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i> Licencia</a>
      </div>
      
      <div class="col-sm-12" style="margin-top: 20px;" ng-class="{ 'hidden' : datos.length==0}">        
        <div class="form-group">
          <label for="orden" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="totalLicencias">Licencias</option>
              <option value="totalDiasLicencias">Días</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
              <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i></a>
          </div>
          <label for="filtro" class="col-md-1 control-label">Filtrar:</label>
          <div class="col-md-4">
            <input id="filtro" type="text" class="form-control form-white form-white" ng-model="filtro">
          </div>
        </div>
      </div>

      <div class="text-center" ng-if="datos.length<=0" style="margin-top: 40px;" >
        <i>No se han ingresado Licencias Médicas</i>
      </div>

      <div class="col-sm-12" style="margin-top: 40px;">  
        <table class="table table-striped table-hover" ng-if="datos.length>0">
          <thead>
            <tr>    
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">RUT</th>
              <th class="col-sm-4">Nombre</th>
              <th class="col-sm-2">Licencias</th>
              <th class="col-sm-2">Días</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trabajador in datos | orderObjectBy:orden : reverse | filter : filtro">
              <td>{{ $index + 1 }}</td>
              <td>{{ trabajador.rutFormato }}</td>
              <td>{{ trabajador.nombreCompleto }}</td>
              <td>{{ trabajador.totalLicencias }}</td>
              <td>{{ trabajador.totalDiasLicencias }}</td>
              <td>
                <a href="" ng-click="detalle(trabajador.sid)"><i class="fa fa-search" uib-tooltip-html="toolTipDetalle(trabajador.nombreCompleto)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>          
      </div>

    </div>
  </div>  
</div>