<div class="box">
  <div class="col-sm-12">
    <h2> <i class="fa fa-book"> </i> Libro de Remuneraciones</h2>

    <div class="col-sm-12" ng-if="cargado">

      <div class="col-sm-12" ng-if="datos.length>0">
        <div class="col-sm-8">
          <h3>{{ empresa.empresa }}</h3>
        </div>
        <div class="col-sm-4">
          <a ng-click="cambiarTamano()" ng-class="{ 'hidden' : isLarge }" href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-expand"></i></a>
          <a ng-click="cambiarTamano()" ng-class="{ 'hidden' : !isLarge }" href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-compress"></i></a>
        </div>
      </div>

      <div class="col-sm-12" ng-if="datos.length>0 && isIndicadores">
        <div class="btn-group pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Exportar <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-sm" role="menu">
            <li>
              <a href="javascript:void(0);" ng-click="openExportar(1);"><i class="fa fa-expand"></i> Formato Largo </a>
            </li>
            <li>
              <a href="javascript:void(0);" ng-click="openExportar(2);"><i class="fa fa-compress"></i> Formato Corto </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:void(0);" ng-click="openExportar(3);"><i class="fa fa-list-ol"></i> Formato Detallado </a>
            </li>
          </ul>
        </div>
      </div>      

      <div class="text-center" ng-if="datos.length<=0" style="margin-top: 150px;" >
        <i>No se han ingresado remuneraciones</i>
      </div>
    
      <div class="col-sm-12" ng-if="datos.length>0 && isLarge" style="margin-top: 50px;">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead style="font-size: 12px;">
              <tr>    
                <th>#</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Sueldo Base</th>
                <th>Dias Trabajados</th>
                <th>Inasistencias y Atrasos</th>
                <th>Horas Extra</th>
                <th>Sueldo</th>
                <th>Gratificación</th>
                <th>Total Imponibles</th>
                <th>Asignación Familiar</th>
                <th>Total no Imponibles</th>
                <th>Total Haberes</th>
                <th>AFP</th>
                <th>APVs</th>
                <th>Cotización Salud</th>
                <th>Seguro Cesantía</th>
                <th>Anticipos</th>
                <th>Impuesto a la Renta</th>
                <th>Otros Descuentos</th>
                <th>Total Descuentos</th>
                <th style="font-weight: 900;">Alcance Líquido</th>
              </tr>
            </thead>
            <tbody style="font-size: 11px;">
              <tr ng-repeat="liquidacion in datos">
                <td>{{ $index + 1 }}</td>
                <td>{{ liquidacion.rutFormatoTrabajador }}</td>
                <td>{{ liquidacion.nombreTrabajador }}</td>
                <td>${{ liquidacion.sueldoBase | currency:'':0 }}</td>
                <td>{{ liquidacion.diasTrabajados }}</td>
                <td>{{ liquidacion.inasistenciasAtrasos }}</td>
                <td>{{ liquidacion.horasExtra }}</td>
                <td>${{ liquidacion.sueldo | currency:'':0 }}</td>
                <td>${{ liquidacion.gratificacion | currency:'':0 }}</td>
                <td>${{ liquidacion.totalImponibles | currency:'':0 }}</td>
                <td>${{ liquidacion.asignacionFamiliar | currency:'':0 }}</td>
                <td>${{ liquidacion.noImponibles | currency:'':0 }}</td>
                <td>${{ liquidacion.totalHaberes | currency:'':0 }}</td>
                <td>${{ liquidacion.totalAfp | currency:'':0 }}</td>
                <td>${{ liquidacion.totalApv | currency:'':0 }}</td>
                <td>${{ liquidacion.totalSalud | currency:'':0 }}</td>
                <td>${{ liquidacion.seguroCesantia | currency:'':0 }}</td>
                <td>${{ liquidacion.anticipos | currency:'':0 }}</td>
                <td>${{ liquidacion.impuestoRenta | currency:'':0 }}</td>
                <td>${{ liquidacion.totalOtrosDescuentos | currency:'':0 }}</td>
                <td>${{ liquidacion.totalDescuentos | currency:'':0 }}</td>
                <td style="font-weight: 800;">${{ liquidacion.sueldoLiquido | currency:'':0 }}</td>
              </tr>
              <tr style="font-size: 13px;">
                <td colspan="3" class="text-center"><b>{{ 'Total General:' | uppercase }}</b></td>
                <td><b>${{ totales.totalSueldoBase | currency:'':0 }}</b></td>
                <td></td>
                <td><b>{{ totales.totalInasistenciasAtrasos }}</b></td>
                <td><b>{{ totales.totalHorasExtra }}</b></td>
                <td><b>${{ totales.totalSueldo | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalGratificacion | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalImponibles | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalAsignacionFamiliar | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalNoImponibles | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalHaberes | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalAfp | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalApv | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalSalud | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalSeguroCesantia | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalAnticipos | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalImpuestoRenta | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalOtrosDescuentos | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalTotalDescuentos | currency:'':0 }}</b></td>
                <td><b>${{ totales.totalSueldoLiquido | currency:'':0 }}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-12" ng-if="datos.length>0 && !isLarge" style="margin-top: 50px;">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead style="font-size: 12px;">
              <tr>
                <th class="text-center" rowspan="3" colspan="2">RUT</th>
                <th class="text-center" rowspan="3">Trabajador</th>
                <tr>
                  <th class="text-center">Sueldo Base</th>
                  <th class="text-center">Inasist y Atraso</th>
                  <th class="text-center">Sueldo</th>
                  <th class="text-center">Total Imponibles</th>
                  <th class="text-center">Total no Imp</th>
                  <th class="text-center">AFP</th>
                  <th class="text-center">Salud</th>                  
                  <th class="text-center">Anticipos</th>                                    
                  <th class="text-center">Otros Desc</th>
                  <th class="text-center" rowspan="2" style="font-weight: 900;">Alcance Líquido</th>
                </tr>
                <tr>
                  <th class="text-center">Días Trab</th>
                  <th class="text-center">H. Extra</th>
                  <th class="text-center">Gratific</th>
                  <th class="text-center">Asigna Familiar</th>
                  <th class="text-center">Total Haberes</th>
                  <th class="text-center">APV</th>
                  <th class="text-center">Seguro Cesantía</th>
                  <th class="text-center">Imp a la Renta</th>                  
                  <th class="text-center">Total Dctos</th>
                </tr>
              </tr>
            </thead>
            <tbody style="font-size: 11px;">
              <tr ng-repeat-start="dato in data track by $index" ng-class="{ 'strip' : $index%2===0 }">
                <td rowspan="3" colspan="2">{{ dato.rut }}</td>
                <td rowspan="3">{{ dato.nombre }}</td>
                <tr ng-repeat="dat in dato.datos" ng-class="{ 'strip' : dat.index%2===0 }">
                  <td class="text-center">${{ dat.sueldoBase | currency:'':0 }}</td>
                  <td class="text-center">{{ dat.inasistenciasAtrasos }}</td>
                  <td class="text-center">${{ dat.sueldo | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.totalImponibles | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.noImponibles | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.totalAfp | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.totalSalud | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.anticipos | currency:'':0 }}</td>
                  <td class="text-center">${{ dat.totalOtrosDescuentos | currency:'':0 }}</td>
                  <td class="text-center" rowspan="2" style="font-size: 12px;"><b>${{ dato.datos[0].sueldoLiquido | currency:'':0 }}</b></td>
                </tr>
                <tr ng-repeat-end ng-class="{ 'strip' : $index%2===0 }">
                  <td class="text-center">{{ dato.datos[0].diasTrabajados }}</td>
                  <td class="text-center">{{ dato.datos[0].horasExtra }}</td>
                  <td class="text-center">${{ dato.datos[0].gratificacion | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].asignacionFamiliar | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].totalHaberes | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].totalApv | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].seguroCesantia | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].impuestoRenta | currency:'':0 }}</td>
                  <td class="text-center">${{ dato.datos[0].totalDescuentos | currency:'':0 }}</td>
                </tr>
              </tr>
              <tr style="font-size: 13px;" ng-class="{ 'strip' : datos.length%2===0 }">
                <td rowspan="3" colspan="3" class="text-center"><b>{{ 'Total General:' | uppercase }}</b></td>
                <tr style="font-size: 13px;" ng-class="{ 'strip' : datos.length%2===0 }">
                  <td class="text-center"><b>${{ totales.totalSueldoBase | currency:'':0 }}</b></td>
                  <td class="text-center"><b>{{ totales.totalInasistenciasAtrasos }}</b></td>
                  <td class="text-center"><b>${{ totales.totalSueldo | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalImponibles | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalNoImponibles | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalAfp | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalSalud | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalAnticipos | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalOtrosDescuentos | currency:'':0 }}</b></td>
                  <td class="text-center" rowspan="2" style="font-size: 15px;"><b>${{ totales.totalSueldoLiquido | currency:'':0 }}</b></td>
                </tr>
                <tr style="font-size: 13px;" ng-class="{ 'strip' : datos.length%2===0 }">
                  <td class="text-center">-</td>
                  <td class="text-center"><b>{{ totales.totalHorasExtra }}</b></td>
                  <td class="text-center"><b>${{ totales.totalGratificacion | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalAsignacionFamiliar | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalHaberes | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalApv | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalSeguroCesantia | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalImpuestoRenta | currency:'':0 }}</b></td>
                  <td class="text-center"><b>${{ totales.totalTotalDescuentos | currency:'':0 }}</b></td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>