<div class="box">
  <div class="row">
    <h2> <i class="fa fa-files-o"> </i> Liquidaciones de Sueldo</h2>
    
    <div class="col-sm-12" ng-if="cargado">      

      <div class="col-sm-12 text-center" style="margin-top: 20px;">
        <h3>Trabajadores Pendientes</h3>
      </div>

      <div class="col-sm-12" style="margin-top: 50px;" ng-class="{ 'hidden' : trabajadores[0].length==0}">        
        <div class="form-group">
          <label for="orden" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="cargoOrden">Cargo</option>
              <option value="seccionOrden" ng-if="!empresa.centroCosto.isCentroCosto">Sección</option>
              <option value="centroCostoOrden" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
              <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i>
            </a>
          </div>
          <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
          <div class="col-md-4">
            <input type="text" ng-model="filtro[0].nombre" class="form-control form-white" ng-change="filtrar(0)" ng-model-options="{debounce: 1000}" />
            <span ng-if="filtro[0].nombre" ng-click="clearText(0)" class="glyphicon glyphicon-remove form-control-feedback" style="cursor: pointer; pointer-events: all; margin-right: 10px;" uib-tooltip="borrar"></span>
          </div>
          <div class="col-md-2">
            <a href="" confirmation-click="generar(0, null, true, false)" confirmation-needed="{{ mensaje[0] }} ¿Desea continuar?" class="btn btn-primary pull-right" ng-class="{ 'hidden' : !isSelect[0] }"><i class="fa fa-print"></i> Generar</a>  
          </div>
        </div>
      </div>

      <div class="col-sm-12 text-center" ng-if="trabajadores[0].length<=0" style="margin-top: 60px;">
        <i>No hay trabajadores pendientes</i>
      </div>

      <div class="col-sm-12" style="margin-top: 40px;">
        <table class="table table-striped table-hover" ng-if="trabajadores[0].length>0">
          <thead>
            <tr>    
              <th class="col-sm-1"><input type="checkbox" ng-model="objeto.todos[0]" ng-if="accesos.crear && accesos.abierto" ng-change="selectAll(0,objeto.todos[0])" icheck></th>
              <th class="col-sm-1">RUT</th>
              <th class="col-sm-3">Nombre</th>              
              <th class="col-sm-2">Cargo</th>
              <th class="col-sm-1" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</th>
              <th class="col-sm-1" ng-if="!empresa.centroCosto.isCentroCosto">Sección</th>
              <th class="col-sm-2">Sueldo Base</th>
              <th class="col-sm-1">Obs.</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in filtro[0].itemsFiltrados | limitTo:limiteDinamico | orderObjectBy: orden : reverse">
              <td><input type="checkbox" ng-model="dato.check" ng-change="select($index, 0)" ng-if="accesos.crear && accesos.abierto" icheck> {{ $index + 1 }}</td>
              <td>{{ ::dato.rutFormato }}</td>
              <td>{{ ::dato.nombreCompleto }}</td>
              <td>{{ ::dato.cargo }}</td>
              <td ng-if="empresa.centroCosto.isCentroCosto">{{ ::dato.centroCosto.nombre }}</td>
              <td ng-if="!empresa.centroCosto.isCentroCosto">{{ ::dato.seccion.nombre }}</td>
              <td>
                <span ng-if="dato.sueldoBase.moneda=='$'">${{ ::dato.sueldoBase.monto | currency:'':0 }}</span>
                <span ng-if="dato.sueldoBase.moneda!='$'">{{ ::dato.sueldoBase.monto }} {{ ::dato.sueldoBase.moneda }}</span>
                <span ng-if="dato.sueldoBase.tipo=='Por Hora'">
                  / por hora
                </span>
              </td>
              <td>
                <a href="javascript:void(0);" ng-show="dato.observaciones" class="text-success" uib-tooltip-html="'<b>Observaciones:</b><br/>' + dato.observaciones">
                  <i class="fa fa-search"></i>
                </a>
              </td>
              <td>
                <a ng-if="accesos.crear && accesos.abierto" href="javascript:void(0);" ng-click="generarObservacionLiquidacion(dato);" uib-tooltip-html="'Agregar observación a la liquidación'">
                  <i class="fa fa-commenting-o"></i>
                </a>
                <a href="javascript:void(0);" ng-if="accesos.crear && accesos.abierto" confirmation-click="generar(0, dato.sidTrabajador, false, false)" confirmation-needed="Se generará la Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>. ¿Desea continuar?" ng-class="{ 'hidden' : isSelect[0] }" uib-tooltip-html="toolTipGenerar(dato.nombreCompleto)"><i class="fa fa-print"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  

      <div class="col-sm-12 text-center" style="margin-top: 60px;">
        <h3>Trabajadores con Liquidaciones</h3>
      </div>

      <div class="col-sm-12 text-center" ng-if="trabajadores[1].length<=0" style="margin-top: 60px;">
        <i>No se han ingresado liquidaciones</i>
      </div>

      <div class="col-sm-12" style="margin-top: 50px;" ng-class="{ 'hidden' : trabajadores[1].length==0}">        
        <div class="form-group">
          <label for="orden2" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden2" id="orden2" ng-init="orden2='apellidos'" class="form-control form-white" ng-change="reverse2 = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="cargoOrden">Cargo</option>
              <option value="seccionOrden" ng-if="!empresa.centroCosto.isCentroCosto">Sección</option>
              <option value="centroCostoOrden" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse2=!reverse2" ng-init="reverse2=false" href="">
              <i ng-class="{ 'hidden' : reverse2 }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse2 }" class="fa fa-arrow-up"></i></a>
          </div>
          <label for="filtro2" class="col-md-1 control-label" >Filtrar:</label>
          <div class="col-md-4">
            <input type="text" ng-model="filtro[1].nombre" class="form-control form-white" ng-change="filtrar(1)" ng-model-options="{debounce: 1000}" />
            <span ng-if="filtro[1].nombre" ng-click="clearText(1)" class="glyphicon glyphicon-remove form-control-feedback" style="cursor: pointer; pointer-events: all; margin-right: 10px;" uib-tooltip="borrar"></span>
          </div>
        </div>
      </div>      

      <div class="col-sm-12" style="margin-top: 40px;">
        <table class="table table-striped table-hover" ng-if="trabajadores[1].length>0">
          <thead>
            <tr>    
              <th class="col-sm-1"><input type="checkbox" ng-model="objeto.todos[1]" ng-if="accesos.crear && accesos.abierto" ng-change="selectAll(1, objeto.todos[1])" icheck></th>
              <th class="col-sm-1">RUT</th>
              <th class="col-sm-3">Nombre</th>              
              <th class="col-sm-2">Cargo</th>
              <th class="col-sm-1" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</th>
              <th class="col-sm-1" ng-if="!empresa.centroCosto.isCentroCosto">Sección</th>
              <th class="col-sm-1">Sueldo Base</th>
              <th class="col-sm-1">Sueldo Líquido</th>
              <th class="col-sm-1">Obs.</th>
              <th class="col-sm-1">
                <div ng-class="{ 'hidden' : !isSelect[1] }">
                  <!--<a ng-if="accesos.crear && accesos.abierto" href="javascript:void(0);" ng-click="generarObservacionLiquidacion(dato);">
                      <i class="fa fa-commenting-o fa-2x"></i>
                  </a>-->

                  <a href="javascript:void(0);" confirmation-click="generar(1, null, true, true)" confirmation-needed="{{ mensaje[1] }} ¿Desea continuar?"><i class="fa fa-refresh fa-2x"></i></a>
                  <a href="javascript:void(0);" ng-if="imprimir" confirmation-click="imprimirMasivo()" confirmation-needed="{{ mensaje[3] }} ¿Desea continuar?"><i class="fa fa-print fa-2x"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.eliminar" confirmation-click="eliminar(1, null, true)" confirmation-needed="{{ mensaje[2] }} ¿Desea continuar?"><i class="fa fa-trash fa-2x"></i></a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in filtro[1].itemsFiltrados | limitTo:limiteDinamico | orderObjectBy: orden2 : reverse2">
              <td><input type="checkbox" ng-model="dato.check" ng-change="select($index, 1)" ng-if="accesos.crear && accesos.abierto" icheck> {{ $index + 1 }}</td>
              <td>{{ ::dato.rutFormato }}</td>
              <td>{{ ::dato.nombreCompleto }}</td>
              <td>{{ ::dato.cargo }}</td>
              <td ng-if="empresa.centroCosto.isCentroCosto">{{ ::dato.centroCosto.nombre }}</td>
              <td ng-if="!empresa.centroCosto.isCentroCosto">{{ ::dato.seccion.nombre }}</td>
              <td>${{ ::dato.sueldoBasePesos | currency:'':0 }}</td>
              <td>${{ ::dato.sueldoLiquido | currency:'':0 }}</td>
              <td>
                <a href="javascript:void(0);" ng-show="dato.observaciones" class="text-success" uib-tooltip-html="'<b>Observaciones:</b><br/>' + dato.observaciones">
                  <i class="fa fa-search"></i>
                </a>
              </td>
              <td>
                <div ng-class="{ 'hidden' : isSelect[1] }">
                  <a ng-if="accesos.crear && accesos.abierto" href="javascript:void(0);" ng-click="generarObservacionLiquidacion(dato);" uib-tooltip-html="'Agregar observación a la liquidación'">
                    <i class="fa fa-commenting-o"></i>
                  </a>
                  <a href="javascript:void(0);" ng-click="detalle(dato, false)"><i class="fa fa-window-maximize" uib-tooltip-html="'Abrir liquidación en esta pestaña'"></i></a>
                  <a href="javascript:void(0);" ng-click="detalle(dato, true)"><i class="fa fa-window-restore" uib-tooltip-html="'Abrir liquidación en nueva pestaña'"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.crear && accesos.editar && accesos.abierto" confirmation-click="generar(1, dato.sidTrabajador, false, true)" confirmation-needed="Se generará una nueva Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>, sobreescribiendo la anterior. ¿Desea continuar?" uib-tooltip-html="toolTipRegenerar(dato.nombreCompleto)"><i class="fa fa-refresh"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.eliminar && accesos.abierto" confirmation-click="eliminar(1, dato, false)" confirmation-needed="Se eliminará la Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>. ¿Desea continuar?" uib-tooltip-html="toolTipEliminar(dato.nombreCompleto)"><i class="fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>    

      <div class="col-sm-12 text-center" style="margin-top: 60px;" ng-if="mostrarFiniquitados">
        <h3>Trabajadores Finiquitados</h3>
      </div>

      <div class="col-sm-12 text-center" ng-if="trabajadores[2].length<=0 && mostrarFiniquitados" style="margin-top: 60px;">
        <i>No hay trabajadores pendientes</i>
      </div>

      <div class="col-sm-12" style="margin-top: 50px;" ng-class="{ 'hidden' : trabajadores[2].length==0 || !mostrarFiniquitados}">        
        <div class="form-group">
          <label for="orden3" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden3" id="orden3" ng-init="orden3='apellidos'" class="form-control form-white" ng-change="reverse3 = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="cargoOrden">Cargo</option>
              <option value="seccionOrden" ng-if="!empresa.centroCosto.isCentroCosto">Sección</option>
              <option value="centroCostoOrden" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse3=!reverse3" ng-init="reverse3=false" href="">
              <i ng-class="{ 'hidden' : reverse3 }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse3 }" class="fa fa-arrow-up"></i></a>
          </div>
          <label for="filtro3" class="col-md-1 control-label" >Filtrar:</label>
          <div class="col-md-4">
            <input type="text" ng-model="filtro[2].nombre" class="form-control form-white" ng-change="filtrar(2)" ng-model-options="{debounce: 1000}" />
            <span ng-if="filtro[2].nombre" ng-click="clearText(2)" class="glyphicon glyphicon-remove form-control-feedback" style="cursor: pointer; pointer-events: all; margin-right: 10px;" uib-tooltip="borrar"></span>
          </div>
          <div class="col-md-2">
            <a href="" confirmation-click="generar(2, null, true, false)" confirmation-needed="{{ mensaje[0] }} ¿Desea continuar?" class="btn btn-primary pull-right" ng-class="{ 'hidden' : !isSelect[2] }"><i class="fa fa-print"></i> Generar</a>  
          </div>
        </div>
      </div>      

      <div class="col-sm-12" style="margin-top: 40px;" ng-if="mostrarFiniquitados">
        <table class="table table-striped table-hover" ng-if="trabajadores[2].length>0">
          <thead>
            <tr>    
              <th class="col-sm-1"><input type="checkbox" ng-model="objeto.todos[2]" ng-if="accesos.crear && accesos.abierto" ng-change="selectAll(2,objeto.todos[2])" icheck></th>
              <th class="col-sm-1">RUT</th>
              <th class="col-sm-3">Nombre</th>              
              <th class="col-sm-2">Cargo</th>
              <th class="col-sm-1" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</th>
              <th class="col-sm-1" ng-if="!empresa.centroCosto.isCentroCosto">Sección</th>
              <th class="col-sm-1">Fecha Finiquito</th>
              <th class="col-sm-1">Sueldo Base</th>
              <th class="col-sm-1">Obs.</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in filtro[2].itemsFiltrados | limitTo:limiteDinamico | orderObjectBy: orden3 : reverse3">
              <td><input type="checkbox" ng-model="dato.check" ng-change="select($index, 2)" ng-if="accesos.crear && accesos.abierto" icheck> {{ $index + 1 }}</td>
              <td>{{ ::dato.rutFormato }}</td>
              <td>{{ ::dato.nombreCompleto }}</td>
              <td>{{ ::dato.cargo }}</td>
              <td ng-if="empresa.centroCosto.isCentroCosto">{{ ::dato.centroCosto.nombre }}</td>
              <td ng-if="!empresa.centroCosto.isCentroCosto">{{ ::dato.seccion.nombre }}</td>
              <td>{{ ::dato.fechaFiniquito | date : "dd-MM-y" }}</td>
              <td>
                <span ng-if="dato.sueldoBase.moneda=='$'">${{ ::dato.sueldoBase.monto | currency:'':0 }}</span>
                <span ng-if="dato.sueldoBase.moneda!='$'">{{ ::dato.sueldoBase.monto }} {{ ::dato.sueldoBase.moneda }}</span>
                <span ng-if="dato.sueldoBase.tipo=='Por Hora'">
                  / por hora
                </span>
              </td>
              <td>
                <a href="javascript:void(0);" ng-show="dato.observaciones" class="text-success" uib-tooltip-html="'<b>Observaciones:</b><br/>' + dato.observaciones">
                  <i class="fa fa-search"></i>
                </a>
              </td>
              <td>
                <a ng-if="accesos.crear && accesos.abierto" href="javascript:void(0);" ng-click="generarObservacionLiquidacion(dato);" uib-tooltip-html="'Agregar observación a la liquidación'">
                  <i class="fa fa-commenting-o"></i>
                </a>
                <a href="javascript:void(0);" ng-if="accesos.crear && accesos.abierto" confirmation-click="generar(2, dato.sidTrabajador, false, false)" confirmation-needed="Se generará la Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>. ¿Desea continuar?" ng-class="{ 'hidden' : isSelect[2] }" uib-tooltip-html="toolTipGenerar(dato.nombreCompleto)"><i class="fa fa-print"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12 text-center" style="margin-top: 60px;" ng-if="false">
        <h3>Trabajadores Finiquitados con Liquidaciones</h3>
      </div>

      <div class="col-sm-12 text-center" ng-if="trabajadores[3].length<=0 && false" style="margin-top: 60px;">
        <i>No se han ingresado liquidaciones</i>
      </div>

      <div class="col-sm-12" style="margin-top: 50px;" ng-class="{ 'hidden' : trabajadores[3].length==0 || true }">        
        <div class="form-group">
          <label for="orden4" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden4" id="orden4" ng-init="orden4='apellidos'" class="form-control form-white" ng-change="reverse4 = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="cargoOrden">Cargo</option>
              <option value="seccionOrden" ng-if="!empresa.centroCosto.isCentroCosto">Sección</option>
              <option value="centroCostoOrden" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse4=!reverse4" ng-init="reverse4=false" href="">
              <i ng-class="{ 'hidden' : reverse4 }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse4 }" class="fa fa-arrow-up"></i>
            </a>
          </div>
          <label for="filtro4" class="col-md-1 control-label" >Filtrar:</label>
          <div class="col-md-4">
            <input type="text" ng-model="filtro[3].nombre" class="form-control form-white" ng-change="filtrar(3)" ng-model-options="{debounce: 1000}" />
            <span ng-if="filtro[0].nombre" ng-click="clearText(0)" class="glyphicon glyphicon-remove form-control-feedback" style="cursor: pointer; pointer-events: all; margin-right: 10px;" uib-tooltip="borrar"></span>
          </div>
        </div>
      </div>      

      <div class="col-sm-12" style="margin-top: 40px;" ng-if="false">
        <table class="table table-striped table-hover" ng-if="trabajadores[3].length>0">
          <thead>
            <tr>    
              <th class="col-sm-1"><input type="checkbox" ng-model="objeto.todos[3]" ng-if="accesos.crear && accesos.abierto" ng-change="selectAll(3, objeto.todos[3])" icheck></th>
              <th class="col-sm-1">RUT</th>
              <th class="col-sm-3">Nombre</th>              
              <th class="col-sm-3">Cargo</th>
              <th class="col-sm-1" ng-if="empresa.centroCosto.isCentroCosto">Centro de Costo</th>
              <th class="col-sm-1" ng-if="!empresa.centroCosto.isCentroCosto">Sección</th>
              <th class="col-sm-1">Sueldo Base</th>
              <th class="col-sm-1">Sueldo Líquido</th>
              <th class="col-sm-1">
                <div ng-class="{ 'hidden' : !isSelect[3] }">
                  <a href="javascript:void(0);" confirmation-click="generar(3, null, true, true)" confirmation-needed="{{ mensaje[1] }} ¿Desea continuar?"><i class="fa fa-refresh fa-2x"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.eliminar" confirmation-click="eliminar(3, null, true)" confirmation-needed="{{ mensaje[2] }} ¿Desea continuar?"><i class="fa fa-trash fa-2x"></i></a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in filtro[3].itemsFiltrados | limitTo:limiteDinamico | orderObjectBy: orden4 : reverse4">
              <td><input type="checkbox" ng-model="dato.check" ng-if="accesos.crear && accesos.abierto" ng-change="select($index, 3)" icheck> {{ $index + 1 }}</td>
              <td>{{ ::dato.rutFormato }}</td>
              <td>{{ ::dato.nombreCompleto }}</td>
              <td>{{ ::dato.cargo }}</td>
              <td ng-if="empresa.centroCosto.isCentroCosto">{{ ::dato.centroCosto.nombre }}</td>
              <td ng-if="!empresa.centroCosto.isCentroCosto">{{ ::dato.seccion.nombre }}</td>
              <td>${{ ::dato.sueldoBasePesos | currency:'':0 }}</td>
              <td>${{ ::dato.sueldoLiquido | currency:'':0 }}</td>
              <td>
                <div ng-class="{ 'hidden' : isSelect[3] }">
                  <a href="javascript:void(0);" ng-click="detalle(dato, false)"><i class="fa fa-window-maximize" uib-tooltip-html="'Abrir liquidación esta pestaña'"></i></a>
                  <a href="javascript:void(0);" ng-click="detalle(dato, true)"><i class="fa fa-window-restore" uib-tooltip-html="'Abrir liquidación en nueva pestaña'"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.crear && accesos.editar && accesos.abierto" confirmation-click="generar(3, dato.sidTrabajador, false, true)" confirmation-needed="Se generará una nueva Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>, sobreescribiendo la anterior. ¿Desea continuar?" uib-tooltip-html="toolTipRegenerar(dato.nombreCompleto)"><i class="fa fa-refresh"></i></a>
                  <a href="javascript:void(0);" ng-if="accesos.eliminar && accesos.abierto" confirmation-click="eliminar(3, dato, false)" confirmation-needed="Se eliminará la Liquidación de Sueldo de <b>{{ dato.nombreCompleto }}</b>. ¿Desea continuar?" uib-tooltip-html="toolTipEliminar(dato.nombreCompleto)"><i class="fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>      

    </div>
  </div>  
</div>