<div class="box">
  <div class="row">
    <div class="column col-sm-12">
      <div class="padding">
        <h2> <i class="fa fa-print"> </i> Mis Certificados</h2>

        <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 30px;">

          <div class="col-sm-12" style="margin-top: 40px;">
            
            <div class="text-center" ng-if="datos.length<=0">
              <i>Aun no hay registros</i>
            </div>
            
            <table class="table table-striped table-hover" ng-if="datos.length>0">
              <thead>
                <tr>
                  <th class="col-sm-1">#</th>
                  <th class="col-sm-5">Motivo</th>
                  <th class="col-sm-4">Fecha Ingreso</th>
                  <th class="col-sm-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="dato in datos">
                  <td>{{ $index + 1 }}</td>
                  <td>{{ dato.motivo }}</td>
                  <td>{{ dato.fecha | date : "dd-MM-y" }}</td>
                  <td>
                    <a href="javascript:void(0);" ng-click="detalle(dato, false)"><i class="fa fa-window-maximize"></i></a>
                    <a href="javascript:void(0);" ng-click="detalle(dato, true)"><i class="fa fa-window-restore"></i></a>
                    <a href="{{ constantes.URL }}/stories/{{ dato.documento.nombre }}" download="{{ dato.documento.alias }}"><i class="fa fa-download"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>  
</div>