<div class="box">
  <div class="row">
    <h2> <i class="fa fa-balance-scale"> </i> Reajuste Global Sueldo Base</h2>

    <div class="col-sm-12" ng-if="cargado">

      <div class="col-sm-12" style="margin-bottom: 20px;">
        <h3 ng-if="rmi">RMI: ${{ rmi | currency:'':0 }}</h3>
      </div>

      <div class="col-sm-12" style="margin-bottom: 20px;" ng-class="{ 'hidden' : datos.length==0}">        
        <div class="form-group">
          <label for="orden" class="control-label col-md-1">
            Ordenar:
          </label>
          <div class="col-md-3">
            <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
              <option value="rut">RUT</option>
              <option value="apellidos">Nombre</option>
              <option value="cargoOrden">Cargo</option>
            </select>
          </div>
          <div class="col-md-1">
            <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
              <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
              <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i></a>
          </div>
          <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
          <div class="col-md-4">
            <input id="filtro" type="text"  class="form-control form-white form-white" ng-model="filtro">
          </div>
        </div>
      </div>

      <div class="text-center" ng-if="datos.length<=0" style="margin-top: 20px;">
        <i>No hay trabajadores para reajustar</i>
      </div>

      <div class="col-sm-12">
        <a confirmation-click="reajustar(false)" confirmation-needed="{{ mensaje }} ${{ rmi | currency:'':0 }}. ¿Desea continuar?" href="" class="btn btn-primary pull-right" ng-class="{ 'hidden' : !isSelect }"><i class="fa fa-check"></i> Reajustar</a>
        <a ng-click="mantener()" ng-if="false" href="" class="btn btn-primary pull-right" ng-class="{ 'hidden' : !isSelect }"><i class="fa fa-thumb-tack"></i> Mantener</a>
      </div>

      <div class="col-sm-12" style="margin-top: 20px;">
        <table class="table table-striped table-hover" ng-if="datos.length>0">
          <thead>
            <tr>    
              <th class="col-sm-1"><input type="checkbox" ng-if="accesos.editar && accesos.abierto || accesos.crear && accesos.abierto" ng-model="objeto.todos" ng-change="selectAll()" icheck></th>
              <th class="col-sm-2">RUT</th>
              <th class="col-sm-3">Nombre</th>              
              <th class="col-sm-3">Cargo</th>
              <th class="col-sm-2">Sueldo Base</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trabajador in datos | orderObjectBy:orden : reverse | filter : filtro">
              <td><input type="checkbox" ng-if="accesos.editar && accesos.abierto || accesos.crear && accesos.abierto" ng-model="objeto.trabajador[$index].check" ng-change="select($index)" icheck></td>
              <td>{{ trabajador.rutFormato }}</td>
              <td>{{ trabajador.nombreCompleto }}</td>
              <td>{{ trabajador.cargo.nombre }}</td>
              <td>
                <span ng-if="trabajador.monedaSueldo==='$'">${{ trabajador.sueldoBase | currency :"":0 }}</span>
                <span ng-if="trabajador.monedaSueldo!=='$'">{{ trabajador.sueldoBase }} {{ trabajador.monedaSueldo }}</span>
              </td>
              <td>
                <!--<a href="javascript:void(0);" ng-if="accesos.editar && accesos.abierto || accesos.crear && accesos.abierto" ng-click="mantener(trabajador.id)" ng-class="{ 'hidden' : isSelect }"><i class="fa fa-thumb-tack"></i></a>-->
                <a href="javascript:void(0);" ng-if="accesos.editar && accesos.abierto || accesos.crear && accesos.abierto" confirmation-click="reajustar(trabajador.id)" confirmation-needed="Se reajustará el Sueldo de {{ trabajador.nombreCompleto }} a ${{ rmi | currency:'':0 }}. ¿Desea continuar?" ng-class="{ 'hidden' : isSelect }"><i class="fa fa-check" uib-tooltip-html="toolTipReajustar(trabajador.nombreCompleto)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>

    </div>
  </div>  
</div>