<div class="box">
  <div class="row">
    <h2> <i class="fa fa-calendar"> </i> Trabajadores Semana Corrida</h2>       
    
    <div class="col-sm-12" ng-if="cargado">

      <div class="col-sm-12">
        <a ng-click="calendario()" ng-if="accesos.crear && accesos.abierto" href="" class="btn btn-primary btn-xs pull-right"><i class="fa fa-calendar"></i> Calendario Semana Corrida</a>
      </div>

      <div class="col-sm-12">
        <ul class="nav nav-tabs form-tabs" style="margin-bottom: 40px;">
          <li class="active"><a data-toggle="tab" ng-click="openTab('semanal')">Semanal</a></li>
          <li class=""> <a data-toggle="tab" ng-click="openTab('mensual')">Mensual</a></li>
        </ul>
      </div>

      <div class="col-sm-12" ng-if="tabSemanal">

        <div class="col-sm-12" style="margin-top: 20px;" ng-class="{ 'hidden' : trabajadoresSemanal.length==0}">        
          <div class="form-group">
            <label for="orden" class="control-label col-md-1">
              Ordenar:
            </label>
            <div class="col-md-3">
              <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
                <option value="rut">RUT</option>
                <option value="apellidos">Nombre</option>
              </select>
            </div>
            <div class="col-md-1">
              <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
                <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
                <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i></a>
            </div>
            <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
            <div class="col-md-4">
              <input id="filtro" type="text"  class="form-control form-white form-white" ng-model="filtro">
            </div>
          </div>
        </div>  

        <div class="text-center" ng-if="trabajadoresSemanal.length<=0" style="margin-top: 50px;">
          <i>No hay trabajadores con Semana Corrida Semanal</i>
        </div>

        <div class="col-sm-12" style="margin-top: 40px;">
          <table class="table table-striped table-hover" ng-if="trabajadoresSemanal.length>0">
            <thead>
              <tr>    
                <th class="col-sm-1">#</th>
                <th class="col-sm-2">RUT</th>
                <th ng-class="{ 'col-sm-2' : semanas>4, 'col-sm-3' : semanas===4 }">Nombre</th>
                <th class="col-sm-1">Semana 1</th>
                <th class="col-sm-1">Semana 2</th>
                <th class="col-sm-1">Semana 3</th>
                <th class="col-sm-1">Semana 4</th>
                <th ng-if="semanas>4" class="col-sm-1">Semana 5</th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="trabajador in trabajadoresSemanal | orderObjectBy:orden : reverse | filter : filtro">
                <td>{{ $index + 1 }}</td>
                <td>{{ trabajador.rutFormato }}</td>
                <td>{{ trabajador.nombreCompleto }}</td>
                <td>${{ trabajador.semanaCorrida.semanas[0].comision | currency:'':0 }}</td>
                <td>${{ trabajador.semanaCorrida.semanas[1].comision | currency:'':0 }}</td>
                <td>${{ trabajador.semanaCorrida.semanas[2].comision | currency:'':0 }}</td>
                <td>${{ trabajador.semanaCorrida.semanas[3].comision | currency:'':0 }}</td>
                <td ng-if="semanas>4" >${{ trabajador.semanaCorrida.semanas[4].comision | currency:'':0 }}</td>
                <td>
                  <a href="" ng-click="detalle(trabajador, 's')"><i class="fa fa-search" uib-tooltip-html="toolTipDetalle(trabajador.nombreCompleto)"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 

      </div>

      <div class="col-sm-12" ng-if="tabMensual">

        <div class="col-sm-12" style="margin-top: 20px;" ng-class="{ 'hidden' : trabajadoresMensual.length==0}">        
          <div class="form-group">
            <label for="orden" class="control-label col-md-1">
              Ordenar:
            </label>
            <div class="col-md-3">
              <select ng-model="orden" id="orden" ng-init="orden='apellidos'" class="form-control form-white" ng-change="reverse = false">
                <option value="rut">RUT</option>
                <option value="apellidos">Nombre</option>
              </select>
            </div>
            <div class="col-md-1">
              <a ng-click="reverse=!reverse" ng-init="reverse=false" href="">
                <i ng-class="{ 'hidden' : reverse }" class="fa fa-arrow-down"></i>
                <i ng-class="{ 'hidden' : !reverse }" class="fa fa-arrow-up"></i></a>
            </div>
            <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
            <div class="col-md-4">
              <input id="filtro" type="text"  class="form-control form-white form-white" ng-model="filtro">
            </div>
          </div>
        </div>  

        <div class="text-center" ng-if="trabajadoresMensual.length<=0" style="margin-top: 50px;">
          <i>No hay trabajadores con Semana Corrida Mensual</i>
        </div>

        <div class="col-sm-12" style="margin-top: 40px;">
          <table class="table table-striped table-hover" ng-if="trabajadoresMensual.length>0">
            <thead>
              <tr>    
                <th class="col-sm-1">#</th>
                <th class="col-sm-3">RUT</th>
                <th class="col-sm-4">Nombre</th>
                <th class="col-sm-3">Monto</th>
                <th class="col-sm-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="trabajador in trabajadoresMensual | orderObjectBy:orden : reverse | filter : filtro">
                <td>{{ $index + 1 }}</td>
                <td>{{ trabajador.rutFormato }}</td>
                <td>{{ trabajador.nombreCompleto }}</td>
                <td>${{ 0 | currency:'':0 }}</td>
                <td>
                  <a href="" ng-click="detalle(trabajador, 'm')"><i class="fa fa-search" uib-tooltip-html="toolTipDetalle(trabajador.nombreCompleto)"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> 

      </div>

    </div>
  </div>  
</div>