
.form-horizontal .control-label {
    top:0px !important;
}

.form-horizontal .form-group{
    margin-bottom: 5px !important;
}
.pointer{
    cursor: pointer !important;
}

.strip {
    background-color: #f2f2f2
}

.uib-day .btn.btn-info {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.uib-day.selected .btn {
  color: #fff;
  background-color: #83b4c1;
  border-color: #46b8da;
}

.botonInicio{
    cursor: pointer;
    text-align: center; 
    font-weight: bold;
    font-size:11px;
    text-transform: uppercase;
}
.botonInicio a:link, .botonInicio a:hover{
    text-decoration: none;
}

.botonInicio img{
    width: 50%;
    min-width: 20px;
    max-width: 60px;
    border: none;
}

.white{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #888888;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

@media (max-width: 792px){
    .publicidad{
        padding-top: 50px;
    }
}
option{
    color:#000 !important;
    font-weight: bold;
}
option:disabled{
    color:#999 !important;
}


@media screen and (max-width: 650px){
    .username{
        display:none !important;
    }
    .nombreEmpresa{
        display: none !important;
    }
    
}

@media screen and (max-width: 1024px){
    .page-content{
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}

.dropdown-menu-sm > li > a{
    font-size:11px;
}

.fontWeight{
    font-weight: bold;
}

.cargando {
    z-index: 10000000;
    position: fixed;
}

.oculto{
    display: none;
    visibility: hidden;
}            

.panel table .btn-group{

    opacity: .99;
}

.pull-right {
    float: right !important;
}

.btn-acciones{
    margin:2px;
    width:25px;
    height:25px !important;
    padding:2px;
}

.modal-backdrop:before {
  background-color: #000;
  content: '';
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color:#3f9eff;
}

.btn-primary:hover{
    background-color:#1f60a1;
}

.btn-dark{
    background-color:#666666;
}
.btn-dark:hover{
    background-color:#000000;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.has-error label{
    color:#a94442 !important;
}

.has-error div input, .has-error div select,  .has-error div textarea{
    border:1px solid #a94442 !important;
}

.inputMargenReducido{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.prepend-icon i{
    left: auto !important;
}

.sinMargen{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.sinMargen div, .sinMargen label{
    padding-top: 3px !important;
    margin-bottom: 0px !important;
}