<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Recálculo de Vacaciones</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" id="recalculoForm" name="recalculoForm">
    <div class="panel panel-default">
      <div class="panel-heading">{{ trabajador.nombreCompleto }}</div>

      <div class="panel-body">   

        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="form-group form-group-md required">
            <label class="col-sm-5 control-label">Vacaciones iniciales:</label>
            <div class="col-sm-5">
              <div class="input-group"> 
                <input ng-model="vacaciones.dias" class="form-control form-white" type="text" required >
                <span class="input-group-addon">Días</span>
              </div>     
            </div>
          </div>
        </div>          

        <div class="col-sm-12" style="margin-top: 30px;">
          <div class="form-group form-group-md"> 
            <label class="col-sm-3 control-label">Calcular desde:</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="radio col-sm-5">
                  <label><input type="radio" ng-model="vacaciones.desde" name="desde" value="i" icheck>Mes Ingreso</label>
                </div>
                <div class="radio col-sm-7">
                  <label><input type="radio" ng-model="vacaciones.desde" name="desde" value="p" icheck>Primer Mes Sistema</label>
                </div>
              </div>                            
            </div>         
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="recalcular()" ng-disabled="recalculoForm.$invalid">Recalcular</button>
  <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button> 
</div>