<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">Reporte de Haberes</h3>
</div>
<div class="modal-body centered">
  <div class="panel panel-default">
    <div class="panel-heading">{{ trabajador.nombreCompleto }}</div>
    <div class="panel-body">          

      <div class="col-sm-12" style="margin-top: 40px; margin-bottom: 40px;">

       <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-3">Haber</th>
              <th class="col-sm-1 text-center">Imponible</th>
              <th class="col-sm-2">Temporalidad</th>
              <th class="col-sm-3 text-center">Meses</th>
              <th class="col-sm-1">Monto</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in trabajador.haberes">
              <td>{{ $index+1 }}</td>
              <td>{{ dato.tipo.nombre }}</td>
              <td class="text-center">
                <i class="fa fa-check" ng-show="dato.tipo.imponible" style="color: #0a0;"></i><i class="fa fa-times" ng-show="!dato.tipo.imponible" style="color: #ff3300;"></i>
              </td>
              <td>
                <span ng-if="dato.porMes">Por Mes</span>
                <span ng-if="dato.rangoMeses">Rango Meses</span>
                <span ng-if="dato.permanente">Permanente</span>
              </td>
              <td class="text-center">
                <span ng-if="dato.porMes">{{ dato.mes }}</span>
                <span ng-if="dato.rangoMeses">{{ dato.desde }} - {{ dato.hasta }}</span>
                <span ng-if="dato.permanente">
                  <span ng-if="dato.hasta && dato.desde">
                    <span style="color: #0a0;">{{ dato.desde }}</span>
                     - 
                     <span style="color: #ff3300;">{{ dato.hasta }}</span>
                  </span>
                  <span ng-if="!dato.hasta && dato.desde">
                    <span style="color: #0a0;">Desde</span>
                    : {{ dato.desde }}
                  </span>
                  <span ng-if="dato.hasta && !dato.desde">
                    <span style="color: #ff3300;">Hasta</span>
                    : {{ dato.hasta }}
                  </span>
                  <span ng-if="!dato.hasta && !dato.desde">-</span>
                </span>
              </td>
              <td>
                <div ng-show="dato.moneda==='$'">${{ dato.monto | currency:'':0 }}</div>                 
                <div ng-show="dato.moneda!=='$'">{{ dato.monto }} {{ dato.moneda }}</div>
              </td>
              <td>
                <a href="javascript:void(0);" ng-if="accesos.editar && accesos.abierto" ng-click="editar(dato)"><i class="fa fa-pencil"></i></a>
                <a href="javascript:void(0);" ng-if="accesos.eliminar && accesos.abierto && !dato.permanente" confirmation-click="eliminar(dato, trabajador.sid, true)" confirmation-needed="El Haber seleccionado será eliminado del sistema. ¿Desea continuar?"><i class="fa fa-trash"></i></a>
                <a href="javascript:void(0);" ng-if="accesos.eliminar && accesos.abierto && dato.permanente" confirmation-click="confirmacion(dato, trabajador.sid)" confirmation-needed="El Haber seleccionado será eliminado del sistema. ¿Desea continuar?"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>        
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-right" style="padding: 6px;">
      <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cerrar</button>
    </div>
  </div>
</div>
