<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Cartas de Notificación</h3>
</div>
<div class="modal-body">
  <form class="simple-form" id="cartaNotificacionForm" name="cartaNotificacionForm">
    <div class="panel panel-default">
      <div class="panel-heading">Nueva Carta de Notificación</div>

      <div class="panel-body">

        <div class="col-sm-12" style="margin-top: 20px; padding: 0;" ng-if="!carta.sid">
          <div class="form-group required">          
            <label class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-7">
              <ul class="dropdown-menu">
                <li ng-repeat="match in matches track by $index" id="{{::match.id}}">
                </li>
              </ul>
              <input type="text" ng-model="carta.trabajador" placeholder="Buscar trabajador" typeahead-editable="false" uib-typeahead="trab as trab.nombreCompleto for trab in trabajadores | filter:{nombreCompleto:$viewValue}" typeahead-on-select="selectTrabajador()" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" required />
            </div>           
          </div>
        </div> 

        <div class="col-sm-12" style="margin-top: 20px; padding: 0;" ng-if="isTrabajador || carta.sid">

          <div class="col-sm-12" style="margin: 20px; padding: 0;">
            <div class="form-group form-group-md">

              <label class="col-sm-3 control-label required" style="padding: 0px;">Plantilla Carta de Notificación:</label>
              <div class="col-sm-6">
                <select class="form-control form-white" ng-model="carta.plantilla" ng-options="plantilla as plantilla.nombre for plantilla in plantillas" ng-change="selectPlantilla()" required> 
                </select>
              </div>              
              
            </div>
          </div>        

          <div class="text-center" ng-if="trabajador.inasistencias.length<=0 && cargado" style="margin: 50px;">
            <i>El trabajador seleccionado no registra insasistencias</i>
          </div>

          <table class="table table-striped table-hover" ng-if="trabajador.inasistencias.length>0 && cargado">
            <thead>
              <tr>
                <th class="col-sm-1"><input type="checkbox" ng-model="objeto.todos" ng-change="selectAll()" icheck></th>
                <th class="col-sm-2">Fecha Ingreso</th>
                <th class="col-sm-2">Desde</th>
                <th class="col-sm-2">Hasta</th>
                <th class="col-sm-2">Motivo</th>
                <th class="col-sm-1">Días</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dato in trabajador.inasistencias">
                <td><input type="checkbox" ng-model="objeto[$index].check" ng-change="select($index)" icheck></td>
                <td>{{ dato.fechaIngreso | date : "dd-MM-y" }}</td>
                <td>{{ dato.desde | date : "dd-MM-y" }}</td>
                <td>{{ dato.hasta | date : "dd-MM-y" }}</td>
                <td>{{ dato.motivo }}</td>
                <td>{{ dato.dias }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="generar(carta, trabajador)" ng-disabled="cartaNotificacionForm.$invalid" ng-if="plantilla.id!==1">Generar Carta</button>
  <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button> 
</div>