<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">Historial Inasistencias</h3>
</div>
<div class="modal-body centered">
  <div class="panel panel-default">
    <div class="panel-heading">{{trabajador.nombreCompleto}}</div>
    <div class="panel-body">          

      <div class="container col-sm-12" style="margin: 40px;">

        <div class="container text-center" ng-if="trabajador.inasistencias.length<=0">
          <i>Aun no hay registros</i>
        </div>

        <table class="table table-striped table-hover" ng-if="trabajador.inasistencias.length>0">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">Fecha Ingreso</th>
              <th class="col-sm-2">Desde</th>
              <th class="col-sm-2">Hasta</th>
              <th class="col-sm-2">Motivo</th>
              <th class="col-sm-1">Observaciones</th>
              <th class="col-sm-1">Días</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dato in trabajador.inasistencias">
              <td>{{ $index + 1 }}</td>
              <td>{{ dato.fechaIngreso | date : "dd-MM-y" }}</td>
              <td>{{ dato.desde | date : "dd-MM-y" }}</td>
              <td>{{ dato.hasta | date : "dd-MM-y" }}</td>
              <td>{{ dato.motivo }}</td>
              <td>{{ dato.observacion }}</td>
              <td>{{ dato.dias }}</td>
              <td>
                <a href="javascript:void(0);" ng-if="accesos.editar && accesos.abierto && false" ng-click="editar(dato, trabajador.sid)"><i class="fa fa-pencil"></i></a>
                <a href="javascript:void(0);" ng-if="accesos.eliminar && accesos.abierto" confirmation-click="eliminar(dato, trabajador.sid)" confirmation-needed="La Inasistencia seleccionada será eliminada del sistema. ¿Desea continuar?"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>        
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-right" style="padding: 6px;">
      <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cerrar</button>
    </div>
  </div>
</div>
