<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">{{ titulo }}</h3>
</div>
<div class="modal-body">
  <form class="simple-form" id="seccionesForm" name="seccionesForm">
    <div class="panel panel-default">
      <div class="panel-heading">{{ encabezado }}</div>

      <div class="panel-body">        

        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="form-group form-group-md required">
            <label class="col-sm-3 control-label">Código:</label>
            <div class="col-sm-6">
              <input ng-model="seccion.codigo" class="form-control form-white" type="text" placeholder="ingrese el código de la sección" required >
            </div>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="form-group form-group-md required">
            <label class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-6">
              <input ng-model="seccion.nombre" class="form-control form-white" type="text" placeholder="ingrese el nombre de la sección" required >
            </div>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px;" ng-if="seccion.id!==1">
          <div class="form-group form-group-md required">          
            <label class="col-sm-3 control-label">Dependencia:</label>
            <div class="col-sm-6">
              <select class="form-control form-white" ng-model="seccion.dependencia" ng-options="sec as '&nbsp;'.repeat((sec.nivel - 1) * 5 ) + sec.nombre for sec in secciones" required> 
              </select>
            </div>
          </div>
        </div>    

        <!--<div class="col-sm-12" style="margin-top: 20px;">
          <div class="form-group form-group-md">  
            <label class="col-sm-3 control-label">Encargado:</label>
            <div class="col-sm-6">
              <ul class="dropdown-menu">
                <li ng-repeat="match in matches track by $index" id="{{::match.id}}">
                </li>
              </ul>
              <input type="text" ng-model="seccion.encargado" placeholder="Buscar trabajador" typeahead-editable="false" uib-typeahead="trab as trab.nombreCompleto for trab in trabajadores | filter:{nombreCompleto:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" />
            </div>
          </div>    
        </div>-->
       
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="guardar(seccion)" ng-disabled="seccionesForm.$invalid">Ingresar</button>
  <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
</div>