<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">Edición Tablas Estructurantes</h3>
</div>
<div class="modal-body centered">
  <form class="form-horizontal" name="edicionTablaForm" id="edicionTablaForm">
    <div class="panel panel-default">
      <div class="panel-heading">{{ tabla.nombre }}</div>
      <div class="panel-body">          
        <div class="container">  
          
          <table class="table table-striped table-hover" style="margin-top: 50px;">
            <h2 class="text-center">Tabla N°{{ tabla.numero }}: <b>{{ tabla.nombre }}</b>
              <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="agregarCodigo(tabla)"><i class="fa fa-plus"> </i> Agregar Código</button>
              <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="openGlosa(tabla)"><i class="fa fa-plus"> </i> Agregar Glosa</button>
            </h2>
            <thead>
              <tr>
                <th>#</th>
                <th>Glosa</th>
                <th ng-repeat="rec in recaudadores | filter: fnRecaudadores()">Código {{ rec.nombre }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dato in tabla.glosas">
                <td>{{ $index + 1 }}</td>
                <td>{{ dato.nombre }}</td>
                <td ng-repeat="cod in dato.codigos" ng-mouseenter="hovering[cod.id]=true" ng-mouseleave="hovering[cod.id]=false">
                  <span ng-if="!isEdit[cod.id]"><span ng-if="cod.codigo">{{ cod.codigo }}</span><span ng-if="!cod.codigo">-</span></span></span>
                  <input type="text" ng-model="input[cod.id]" ng-if="isEdit[cod.id]" style="width: 80px;">
                  <button ng-class="{ 'hidden' : !hovering[cod.id] || isEdit[cod.id] }" class="btn btn-sm btn-primary" ng-click="editar(cod.id, false, false)">
                    Editar
                  </button>
                  <button ng-class="{ 'hidden' : !hovering[cod.id] || !isEdit[cod.id] || cod.id <= 284 }" class="btn btn-sm btn-danger" confirmation-click="eliminar(cod.id)" confirmation-needed="El código <b>{{cod.codigo}}</b> será eliminado del sistema. ¿Desea continuar?">
                    Eliminar
                  </button>
                  <button ng-class="{ 'hidden' : !hovering[cod.id] || !isEdit[cod.id] }" class="btn btn-sm btn-success" ng-click="editar(cod.id, cod.glosa, cod.cod)">
                    Listo
                  </button>
                </td> 
                <!--<td colspan="2" ng-if="dato.codigo===10101010" style="background-color: #CCCCCC;">{{ dato.nombre }}</td>-->
              </tr>
            </tbody>
        </table> 

        </div>        
      </div>
    </div>

  </form>
  <div class="modal-footer">
    <div class="pull-right" style="padding: 6px;">
      <button class="btn btn-primary" type="button" confirmation-click="guardarEdicion();" confirmation-needed="{{ confirmacion }}" ng-disabled="!edicionTabla">Modificar Tabla</button>
      <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
    </div>
  </div>
</div>
